#u75
{
	border-color: #000000;
	background: #FFFFFF url("../images/header.jpg") no-repeat center center;
}

#u666-6
{
	border-style: solid;
	border-color: #F6ABFB;
	background-color: #E4F9FF;
	background-color: rgba(166,237,255,0.3);
	border-radius: 40px 40px 0px 0px ;
	color: #FFFFFF;
	text-align: center;
	font-size: 36px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	border-width: 2px 2px 0px;
	-pie-background: rgba(166,237,255,0.3);
}

#u666,#u666-3
{
	font-size: 36px;
}

#u674-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #F6ABFB;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u674-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
}

#u675-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #F6ABFB;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u675-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
}

#u1377-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #F6ABFB;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u1377-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
}

#u676-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #F6ABFB;
	background-color: transparent;
	border-radius: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 21px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u676-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
}

#u674-4.MuseLinkActive,#u675-4.MuseLinkActive,#u1377-4.MuseLinkActive,#u676-4.MuseLinkActive
{
	-pie-box-shadow: none;
	box-shadow: none;
}

#u82,#u1578-3
{
	border-color: #000000;
	background-color: #000000;
}

#u677
{
	vertical-align: top;
	background: transparent url("../images/u677.png") no-repeat 6px 6px;
}

#u677:hover
{
	background: transparent url("../images/u677-r.png") no-repeat 0px 0px;
}

#u696
{
	vertical-align: top;
	background: transparent url("../images/u696.png") no-repeat 6px 6px;
}

#u696:hover
{
	background: transparent url("../images/u696-r.png") no-repeat 0px 0px;
}

#u701
{
	vertical-align: top;
	background: transparent url("../images/u701.png") no-repeat 6px 6px;
}

#u701:hover
{
	background: transparent url("../images/u701-r.png") no-repeat 0px 0px;
}

#u769-4
{
	background-color: transparent;
	color: #FFFFFF;
	text-align: center;
	font-size: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u771
{
	border-style: solid;
	border-width: 2px;
	border-color: #F6ABFB;
	background-color: transparent;
	border-radius: 100px;
}

#u773-4
{
	border-color: #000000;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u774-4
{
	border-color: #000000;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u775-4
{
	border-color: #000000;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u674-4.MuseLinkActive p,#u675-4.MuseLinkActive p,#u1377-4.MuseLinkActive p,#u676-4.MuseLinkActive p,#u769-4:hover p,#u773-4:hover p,#u774-4:hover p,#u775-4:hover p
{
	text-decoration: underline;
}

#u1581-5
{
	background-color: transparent;
	text-align: center;
}

#u1581
{
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

