.version.photos /* version checker */
{
	color: #000014;
	background-color: #F3A572;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 735.8px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -11px;
	width: 0.01px;/* should not cover content below */
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u75,#u75-bw
{
	z-index: 2;
	height: 243px;
}

#u82
{
	z-index: 3;
	min-height: 62px;
}

#u82_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 960px;
	left: -100px;
	margin-bottom: -2px;
}

#u666-6
{
	z-index: 7;
	width: 349px;
	min-height: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: -35px;
	left: 132px;
}

#u674-4
{
	z-index: 13;
	width: 128px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 500px;
}

#u674-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 128px;
	margin: 16px -10000px 0px 0px;
}

#u675-4
{
	z-index: 17;
	width: 128px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 653px;
}

#u674-4.MuseLinkActive,#u675-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 128px;
	margin: 16px -10000px 0px 0px;
}

#u1377-4
{
	z-index: 21;
	width: 128px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 796px;
}

#u675-4.MuseLinkActive,#u1377-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 128px;
	margin: 16px -10000px 0px 0px;
}

#u676-4
{
	z-index: 25;
	width: 128px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 940px;
}

#u1377-4.MuseLinkActive,#u676-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 128px;
	margin: 16px -10000px 0px 0px;
}

#u676-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 128px;
	margin: 16px -10000px 0px 0px;
}

#u82-bw
{
	z-index: 3;
	min-height: 62px;
	margin-top: -2px;
}

#pu1495-4
{
	width: 0.01px;
	margin-left: 21px;
}

#u1495-4
{
	z-index: 61;
	width: 256px;
	min-height: 99px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1495
{
	font-size: 30px;
}

#u1527-4
{
	z-index: 76;
	width: 248px;
	min-height: 99px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 312px;
}

#u1545-4
{
	z-index: 91;
	width: 225px;
	min-height: 99px;
	background-color: transparent;
	text-align: center;
	font-size: 30px;
	font-family: sansita-one, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#u1545
{
	text-align: center;
	font-family: sansita-one, sans-serif;
	font-weight: 700;
}

#pu1498-7
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 28px;
}

#u1498-7
{
	z-index: 65;
	width: 290px;
	min-height: 193px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u1530-9
{
	z-index: 80;
	width: 286px;
	min-height: 247px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 317px;
}

#u1548-4
{
	z-index: 95;
	width: 211px;
	min-height: 185px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 638px;
}

#ppu1514
{
	width: 0.01px;
	margin-left: 27px;
	margin-top: 15px;
}

#pu1514
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1514
{
	z-index: 74;
	width: 133px;
	background-color: transparent;
	margin-left: 61px;
	position: relative;
}

#u1558-6
{
	z-index: 100;
	width: 250px;
	min-height: 43px;
	background-color: transparent;
	text-align: center;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
	position: relative;
}

#u1558,#u1558-3
{
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u1504
{
	z-index: 72;
	width: 156px;
	background-color: transparent;
	margin-left: 49px;
	position: relative;
}

#u1533
{
	z-index: 89;
	width: 147px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 357px;
}

#pu1551
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 622px;
}

#u1551
{
	z-index: 99;
	width: 300px;
	min-height: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u1484
{
	z-index: 60;
	width: 300px;
	min-height: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u1561
{
	z-index: 106;
	width: 300px;
	min-height: 35px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u1568
{
	z-index: 107;
	width: 193px;
	background-color: transparent;
	margin-left: 19px;
	margin-top: 11px;
	position: relative;
}

#pu1578-3
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 39px;
}

#u1578-3,#u1578-3-bw
{
	z-index: 4;
	min-height: 74px;
}

#u677
{
	z-index: 30;
	height: 44px;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: -5px;
	left: 858px;
}

#u696
{
	z-index: 33;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 935px;
}

#u701
{
	z-index: 36;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 896px;
}

#u769-4
{
	z-index: 38;
	width: 202px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 850px;
}

#u769-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 202px;
	margin: 42px -10000px 0px 0px;
}

#u771
{
	z-index: 42;
	width: 19px;
	height: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 184px;
}

#u773-4
{
	z-index: 43;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 288px;
}

#u774-4
{
	z-index: 47;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 210px;
}

#u773-4:hover,#u774-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 74px;
	margin: 14px -10000px 0px 0px;
}

#u775-4
{
	z-index: 51;
	width: 74px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 444px;
}

#u775-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 74px;
	margin: 13px -10000px 0px 0px;
}

#u1581-5
{
	z-index: 55;
	width: 74px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 366px;
}

.html
{
	background: #FFFFFF url("../images/pattern.jpg") repeat center center scroll;
}

body
{
	position: relative;
	min-width: 960px;
}

