.version.index /* version checker */
{
	color: #000001;
	background-color: #518D58;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.1098336542574px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 1px;
}

#pu970
{
	width: 0.01px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u970,#u970-bw
{
	z-index: 2;
	height: 160px;
}

#u972-4
{
	z-index: 4;
	width: 349px;
	min-height: 95px;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 13px;
}

#u971
{
	z-index: 3;
	min-height: 48px;
	padding-bottom: 14px;
}

#u973-4
{
	z-index: 8;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1px;
}

#u973-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u974-4
{
	z-index: 12;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 132px;
}

#u975-4
{
	z-index: 16;
	width: 113px;
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 262px;
}

#u973-4.MuseLinkActive,#u974-4:hover,#u975-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	width: 113px;
	margin: 14px -10000px 0px 0px;
}

#u971-bw
{
	z-index: 3;
	min-height: 48px;
	margin-top: -4px;
	margin-bottom: -4px;
}

#u999
{
	z-index: 54;
	width: 369px;
	height: 127px;
	-pie-box-shadow: 2px 2px 8px #7F7F7F;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.5);
	border-width: 0px;
	border-color: transparent;
	border-radius: 10px 10px 0px 0px ;
	margin-left: 6px;
	margin-top: 13px;
	position: relative;
	background: #FFFFFF url("../../images/road.jpg") no-repeat center center;
}

#u998-14
{
	z-index: 40;
	width: 369px;
	min-height: 313px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 18px;
	position: relative;
}

#u998-3
{
	font-size: 18px;
	text-align: center;
	color: #000000;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u998-5
{
	text-align: justify;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u998-5 span,#u998-5 em /* line-height set on spans of mixed font sized paras */
{
	line-height: 1.2;
}

#u998-8
{
	text-align: center;
}

#u998-9
{
	font-size: 16px;
	text-align: left;
	color: #000000;
	font-family: sansita-one, sans-serif;
	font-weight: 400;
}

#u998-6,#u998-11,#u998-12
{
	font-size: 16px;
	text-align: justify;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#pu976
{
	width: 0.01px;
	margin-top: 17px;
}

#u976
{
	z-index: 20;
	min-height: 65px;
	padding-bottom: 9px;
}

#u987-4
{
	z-index: 36;
	width: 378px;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
}

#u987-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 378px;
	margin: 51px -10000px 0px 0px;
}

#u976-bw
{
	z-index: 20;
	min-height: 65px;
}

#u977
{
	z-index: 22;
	height: 44px;
	width: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 90px;
}

#u979
{
	z-index: 25;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 206px;
}

#u981
{
	z-index: 28;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 167px;
}

#u983
{
	z-index: 31;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 128px;
}

#u985
{
	z-index: 34;
	height: 45px;
	width: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 245px;
}

.html
{
	background: #FFFFFF url("../../images/pattern.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

